body
{
background-color: #B4B6ED;
font-family: Georgia;
margin: 20px;
padding: 0px;
color: white;
}

h1
{
color: #595B91;
margin: 20px;
padding: 0px;
text-align: center;
}

h2
{
color: #595B91;
margin: 15px;
padding: 0px;
text-align: center;
}

table {
    border-collapse: collapse;
}

th {
  color: #595B91
}

table, td  {
    border: 1px solid #595B91;
    text-align: center;

}

ul2 {
text-align: center;

}

.keuze
{ background-color: #B4B6ED;

}

p
{
font-family: Georgia;
font-size: 20px;
color: #ffffff;
text-align: center;
}

#foto{
  width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #595B91;
    background-color: #595B91
}

li {
    float: left;
    position: relative;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #8E90CC;
}

li a.active {
    color: #ffffff;
    background-color: #595B91;
}

img {
align: center;    
}
